body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.header-logo-italic {
  font-style: italic;
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
.main-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.menu-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.description {
  background: #1e1823;
}
.descr-name {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.header-comp {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.text-comp {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.components-taste {
  color: #fd9222;
}
.comp-name {
}
